@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
--AlmostWhite: hsl(0, 0%, 98%);
--MediumGray: hsl(0, 0%, 41%);
--AlmostBlack: hsl(0, 0%, 8%);
}

body {
    margin: 0;
    padding: 0;
    font-family: "Epilogue", sans-serif;
}

img {
    max-width: 100%;
}

.image-desktop {
    display: none;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    align-items: center;
}

.navbar .logo {
    font-size: 2rem;
    font-weight: 700;
}

.nav, .nav-right {
    display: none;
}



.hero-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

.hamburger-x {
    display: none;
    z-index: 100;
}

.hamburger {
    z-index: 100;
}

.hero-section h1 {
    padding-top: 2rem;
    color: var(--AlmostBlack);
    font-size: 2.2rem;
    text-align: center;
}

.hero-section p {
    color: var(--MediumGray);
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 0 1rem;
    margin: auto;
}


.hero-section .btn {
    background-color: var(--AlmostBlack);
    color: var(--AlmostWhite);
    padding: 16px 23px;
    border-radius: 15px;
    margin-top: 2rem;
    font-size: 1.5rem;
    text-align: center;
    border: solid 1px var(--AlmostBlack);
}

.btn {
    max-width: 200px;
    margin: auto;
}

.hero-section .btn:active {
    cursor: pointer;
    background-color: var(--AlmostWhite);
    color: var(--AlmostBlack);
    
}

.hero-section .logos {
    margin-top: 3rem;
}

.hero-section .logos img {
    margin-left: 4px;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 100%;
    width: 65%;
    min-height: 100vh;
    z-index: 98;
    background-color: var(--AlmostWhite);
    padding-top: 80px;
    transition: all 0.3s ease;
}

.mobile-nav.is-active {
    right: 0;
}

.mobile-nav ul {
    list-style-type: none;
    cursor: pointer;
}

.mobile-nav ul li {
    color: var(--MediumGray);
    line-height: 2;
    text-align: left;
    font-size: 20px;
}
.dropdown {
    display: none;
}

.dropdown2 {
    display: none;
}

.company {
    color: var(--MediumGray);
    line-height: 2;
    font-size: 20px;
}



.mobile-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2.5;
    margin-right: 15px;
}

.mobile-login span {
    cursor: pointer;
    color: var(--MediumGray);
}
.mobile-login span:hover {
    color: var(--AlmostBlack);
}

.mobile-login .btnn {
    border: solid 1px var(--AlmostBlack);
    border-radius: 10px;
    padding: 0 10px;
    width: 70%;
    text-align: center;
    cursor: pointer;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.5); 
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden; 
  }

  .hamburger:hover, .hamburger-x:hover {
    cursor: pointer;
  }

  br {
    display: none;
  }
  

/* Responsive */

@media (min-width: 768px) {
    .container {
        width: 1440px;
        margin: auto;
    }
    .navbar .container {
        width: 1440px;
        margin: auto;
    }
    .hero-section .container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        height: 80vh;
    }

    .image {
        display: none;
    }
    .image-desktop {
        display: block;
    }

    .image-desktop img {
        max-width: 70%;
    }
    .hero-section .container .text {
        display: flex;
        flex-direction: column;
        text-align: left;    
    }

    .hero-section h1 {
        text-align: left;
        margin-left: 8rem;
        font-size: 5rem;
        max-width: 100%;
    }

    .hero-section p {
        color: var(--MediumGray);
        text-align: left;
        font-size: 1rem;
        line-height: 2;
        margin-left: 7rem;
        max-width: 60%;
    }

    .hero-section .btn {
        background-color: var(--AlmostBlack);
        color: var(--AlmostWhite);
        padding: 16px 23px;
        border-radius: 15px;
        margin-top: 2rem;
        font-size: 1.5rem;
        margin-left: 8rem;
        max-width: 25%;
        text-align: center;
        border: solid 1px black;
    }
    .hero-section .logos {
        margin-top: 3rem;
        margin-left: 7rem;
    }
    .hero-section .logos img {
        margin-left: 2rem;
    }
    .navbar .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
    }

    .hamburger {
        display: none;
    }

    
    .navbar .container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    li {
        display: inline;
        font-size: 14px;
        margin-left: 20px;
        color: var(--MediumGray)
    }

    li:hover {
        color: var(--AlmostBlack);
        cursor: pointer;
    }

    .navbar .nav-right {
        margin-left: auto;
    }

    .navbar .nav-right .btnn {
        padding: 10px 20px;
        border-radius: 15px;
        border: 1px solid var(--MediumGray)
    }

    .nav, .nav-right {
        display: block;
    }

    .desktop-nav {
        position: absolute;
        display: none;
        flex-direction: column;
        left: 19%;
        top: 70px;
        line-height: 2;
        padding: 10px;
        box-shadow: 0px 1px 2px #666666;
        border-radius: 15px;
    }

    .desktop-nav img {
        margin-right: 20px;
        margin-left: -10px;
    }


    .desktop-nav2 {
        position: absolute;
        justify-content: space-around;
        display: none;
        flex-direction: column;
        left: 27%;
        top: 70px;
        padding-inline-start: 0px;
        line-height: 2;
        padding: 10px;
        box-shadow: 0px 1px 2px #666666;
        border-radius: 15px;
    }
    .desktop-nav2 li {
        margin-left: 1px;
    }

    .btn:hover {
        background-color: var(--AlmostWhite);
        color: var(--AlmostBlack);
    }
    
    .mobile-nav {
        display: none;
    }

    .hamburger-x {
        opacity: 0;
    }
    .hamburger {
        opacity: 0;
    }

    .overlay {
        display: none;
    }

    br {
        display: block;
      }
}